.rule-list {
    padding: 0;
    list-style-type: none;
}

.rule-list-item {
    display: flex;
    border-radius: 6px;
    border: 10px;
    margin-bottom: 2px;
}

.rule-list-item:hover {
    background-color: #ebf3ff;
    cursor: pointer;
}

.active-rule-list-item, .active-rule-list-item:hover {
    background-color: #0d6efd;
}

.active-rule-link {
    color: #ffffff !important;
    font-weight: bold;
}

.rule-link, .rule-link:visited {
    color: #0d6efd;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

